<div class="row" [appPreloader]="loadRecipePending$ | async">
  <div class="col-8">
    <app-recipe-editor [mode]="componentMode"
                       [pending]="false"
                       [data]="recipe$ | async"></app-recipe-editor>
  </div>

  <div class="col-4">
    <app-recipe-nutritional-value></app-recipe-nutritional-value>

    <app-save-widget [mode]="componentMode"
                     [pending]="(componentMode === componentModes.Create ? addRecipePending$ : updateRecipePending$) | async"
                     [data]="recipe$ | async"
                     (saveItem)="saveRecipe($event)"
                     (deleteItem)="deleteRecipe()"></app-save-widget>
  </div>
</div>
