<div class="card-wrapper">
  <h2 class="title">{{recipeID ? 'Изменить рецепт' : 'Сохранить рецепт'}}</h2>

  <button *ngIf="recipeID" class="round red card-pos-t-r">
    <mat-icon>delete</mat-icon>
  </button>

  <form class="row mb20" [formGroup]="form" novalidate>
    <div class="col-3">
      <div class="photo relative">
        <div></div>

        <button class="round small yellow pos-b-r">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </div>

    <div class="col-8">
      <div class="input-wrapper">
        <input formControlName="NAME" placeholder="Название" />
      </div>
    </div>
  </form>

  <footer>
    <button class="intense" [btnLoad]="true" [textContent]="'Сохранить'" (click)="save()"></button>
  </footer>
</div>
