@import "../node_modules/@angular/cdk/overlay-prebuilt.css";
@import '../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "../node_modules/bootstrap/scss/bootstrap-grid";

@import "assets/styles/buttons";
@import "assets/styles/cards";
@import "assets/styles/dialogs";
@import "assets/styles/font";
@import "assets/styles/form";
@import "assets/styles/functions";
@import "assets/styles/helpers";
@import "assets/styles/material";
@import "assets/styles/notifications";
@import "assets/styles/reset";
@import "assets/styles/typography";
@import "assets/styles/variables";

html {
  background-color: $bg-color;
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
}
