@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url(/assets/fonts/OpenSans/OpenSans-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url(/assets/fonts/OpenSans/OpenSans-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url(/assets/fonts/OpenSans/OpenSans-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url(/assets/fonts/OpenSans/OpenSans-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url(/assets/fonts/OpenSans/OpenSans-ExtraBold.ttf);
  font-weight: 800;
}

/*---------------------------Material Icons---------------------------*/
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/material-icons/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2') format('woff2');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
