@import "variables";

form{
  align-items: center;
  display: flex;
  font-size: 14px;
  line-height: 16px;

  label{
    color: $gray;
  }

  .label-left{
    margin-right: 15px;
    width: 200px!important;
  }

  .label-right{
    margin-left: 15px;
    //width: 200px!important;
  }

  .input-wrapper{
    background-color: $bg-color;
    border-radius: 18px;
    box-shadow: $outset-shadow;
    min-width: 64px!important;
    padding: 2px;
    position: relative;

    input{
      background-color: $bg-color;
      border: none;
      border-radius: 15px;
      box-shadow: $inset-shadow;
      color: $dark-gray;
      display: block;
      font-family: 'Open Sans', sans-serif;
      height: 32px;
      min-width: 60px!important;
      outline: none;
      padding: 0 10px 0 10px;
      width: 100%;

      &:focus{
        box-shadow: $inset-shadow-form-active;
      }

      &.ng-invalid.ng-touched{
        box-shadow: $inset-shadow-form-error;
      }

      &::placeholder{
        color: $light-gray;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 1px;
        opacity: 0.7;
      }
    }

    mat-icon{
      position: absolute;
      top: 10px;
      right: 5px;
    }
  }

  [class*=" col-"], [class^="col-"]{
    margin-bottom: 15px;
  }
}

.toddler {
  background-color: $bg-color;
  border-radius: 50%;
  box-shadow: $outset-shadow;
  cursor: pointer;
  height: 40px;
  width: 40px;
}
